@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #101010;
    --secondary-color: #FF2020;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* background-color: var(--primary-color); */
    color: white;
}